/* Inline <style> block at head position 85 of the original document. */
/* block styling */
._dwg-cta-block_9msht_2 {
    padding: 24px;
    border-left: 2px solid;
}

._dwg-cta-block--coconut_9msht_7 ._description-text_9msht_7 {
    color: #736c64;
}

._dwg-cta-block--graphite_9msht_11 ._description-text_9msht_7 {
    color: #bbb5ae;
}

/* border styling */
._border_default-color_9msht_16 {
    border-color: #5b5650;
}

._border_accent-color_9msht_20 {
    border-color: var(--dwg-theme__color__identity__text);
}
