/* Inline <style> block at head position 106 of the original document. */
._mediaFrame_18tgx_1._eyebrowImage_18tgx_1 {
    max-height: var(--dwg-spacing__unit--4);
}

._updatedHeadlineStyle_18tgx_5 {
    font-family: var(--__dwgSharpGrotesk20BookStack);
    font-weight: 500;
}
